.text-container {
    flex: 1;
    text-align: left;
    padding-left: 200px; /* Ajusta el espacio para que empiece donde el logo */
    box-sizing: border-box;
}

.image-container-scribble {
    padding-left: 0; /* Asegúrate de que no haya padding en el contenedor */
    margin-left: 0; /* Asegúrate de que no haya margen en el contenedor */
}

.image-container-scribble {
    margin-top: 40px;
}


@media (max-width: 768px) {
    .text-container {
        flex-direction: column; /* Apila los elementos verticalmente */
        align-items: center; /* Centra los elementos */
        padding: 0px;
        width: 100%;
        margin-bottom: 0px;
    }

}



