/* Estilos para pantallas grandes */
.message-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
    margin: 0; /* Reducir el espacio en blanco */
}

.text-container_nosotros {
    text-align: left;
    padding-left: 200px; /* Ajusta el espacio para que empiece donde el logo */
    box-sizing: border-box;
}


.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0; /* Espaciado entre las imágenes */
}

.full-screen-image {
    width: 80%;
    height: auto;
}

.message-text-nosotros {
    font-size: 72px; /* Tamaño de la fuente más grande */
    color: #5C937B;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin: 0;
    line-height: 1; /* Ajusta el espacio entre renglones */
}

.message-text-page3 {
    font-size: 72px; /* Tamaño de la fuente más grande */
    color: #5C937B;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin: 0;
    line-height: 1; /* Ajusta el espacio entre renglones */
}

.columns-container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 30%;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #5C937B;
}

.columns-container_pag3 {
    display: flex;
    justify-content: space-between;
}

.column_pag3 {
    width: 30%;
}

.message-button {
    background-color: #5C937B; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 30px; /* Borde redondeado */
    padding: 8px 60px; /* Ajusta el espacio interno del botón */
    font-family: 'Quicksand', sans-serif; /* Estilo de fuente */
    font-size: 20px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo al pasar el mouse */
    margin-top: 20px; /* Espacio superior para separar del texto */
    font-weight: 500; 
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .message-container {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: center; /* Centra los elementos en el contenedor */
        padding: 20px; /* Agrega algo de padding para pantallas pequeñas */
    }

    .text-container_nosotros {
        padding-left: 0; /* Quita el padding izquierdo en pantallas pequeñas */
        text-align: center; /* Centra el texto */
    }

    .full-screen-image {
        max-width: 300px; /* Ajusta el tamaño máximo de la imagen en pantallas pequeñas */
        margin-top: 0; /* Ajusta el margen superior */
    }

    .message-text-nosotros {
        font-size: 36px; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
    }

    .message-text-page3 {
        font-size: 36px; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
    }

    .message-button {
        padding: 8px 30px; /* Ajusta el padding del botón en pantallas pequeñas */
        font-size: 18px; /* Ajusta el tamaño de la fuente del botón */
    }
}
