/* Estilos para pantallas grandes */
.message-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0;
    box-sizing: border-box;
    margin-top: -40px; /* Reducir el espacio en blanco */
    position: relative; /* Agrega posición relativa al contenedor del mensaje */
    padding-left: 100px;
}


.text-container_nosotros {
    flex: 1;
    padding-left: 100px; /* Ajusta el espacio para que empiece donde el logo */
    box-sizing: border-box;
}

.image-group {
    display: flex;
    align-items: flex-start; /* Alinea las imágenes al inicio superior del contenedor */
    justify-content: center;
    flex-direction: column; /* Coloca las imágenes en una columna */
    padding-right: 200px; /* Ajusta el espacio según sea necesario */
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0; /* Espaciado entre las imágenes */
}

.full-screen-image {
    width: 80%;
    height: auto;
}

.message-text-nosotros {
    font-size: 72px; /* Tamaño de la fuente más grande */
    color: #5C937B;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin: 0;
    line-height: 1; /* Ajusta el espacio entre renglones */
}

.message-text-page3_big {
    font-size: 75px; /* Tamaño de la fuente más grande */
    color: #5C937B;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;
    line-height: 1; /* Ajusta el espacio entre renglones */
    font-weight: bold;
}
.message-text-page3_small {
    font-size: 55px; /* Tamaño de la fuente más grande */
    color: #5C937B;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1; /* Ajusta el espacio entre renglones */
    font-weight: bold;
}


.columns-container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 30%;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #5C937B;
}

.columns-container_pag3 {
    display: flex;
    justify-content: space-between;
}


.message-button {
    background-color: #5C937B; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 30px; /* Borde redondeado */
    padding: 8px 60px; /* Ajusta el espacio interno del botón */
    font-family: 'Quicksand', sans-serif; /* Estilo de fuente */
    font-size: 20px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo al pasar el mouse */
    margin-top: 20px; /* Espacio superior para separar del texto */
    font-weight: 500; 
}

.image-scribble {
    margin-top: 80px;
    display: flex;
    align-items: flex-start; /* Cambia a flex-start para alinear al principio verticalmente */
    justify-content: flex-start; /* Cambia a flex-start para alinear al principio horizontalmente */
    margin-bottom: 50px; /* Espaciado entre las imágenes */
}

.image-scribble img {
    margin-left: -790px; /* Ajusta el valor según sea necesario */
    margin-top: -250px; /* Ajusta el valor según sea necesario */
}

.container_pagina2 {
    background-color: #5C937B;
    height: 100vh; /* Ocupar toda la altura de la ventana de visualización */
    width: 100vw; /* Ocupar todo el ancho de la ventana de visualización */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Elimina cualquier margen que pueda estar presente */
    padding: 0; /* Elimina cualquier relleno que pueda estar presente */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total */
}

.container_pagina2 {
    background-color: #5C937B;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column; /* Para que las columnas aparezcan debajo del texto */
    justify-content: center;
    align-items: center;
    padding: 20px; /* Ajusta el padding según sea necesario */
}


.text-container_nosotros {
    max-width: 1200px; /* Ancho máximo de las columnas */
    width: 100%;
    text-align: left; /* Centra el texto */
}

.message-text-nosotros {
    font-size: 72px; /* Tamaño de la fuente más grande */
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin: 0;
    line-height: 1; /* Ajusta el espacio entre renglones */
    padding-left: 180px; /* Relleno a la izquierda */
    padding-top: 20px; /* Relleno arriba */
}
.columns-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0px;
    font-family: 'Quicksand', sans-serif;
}

.column {
    flex: 1; /* Hace que todas las columnas tengan la misma altura */
    padding: 25px;
    background-color: #5C937B;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.column h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.column p {
    font-size: 25px;
    margin-bottom: 40px; /* Ajusta el margen inferior para el texto */
    display: flex;
    flex-grow: 1; /* Permitir que los elementos se expandan */
    flex-shrink: 0; /* Evitar que los elementos se hagan más pequeños */
    flex-basis: 0; /* Permitir que los elementos se expandan */
}

.columns-container .line {
    width: 100%; /* Asegura que las líneas se extiendan completamente */
    height: 2px;
    background-color: #ffffff;
    margin-top: auto; /* Mueve la línea al final del contenedor */
    
}

.container_pagina3 {
    background-color: #F2F4EA;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column; /* Para que las columnas aparezcan debajo del texto */
    justify-content: center;
    align-items: center;
    padding: 20px; /* Ajusta el padding según sea necesario */
}

.columns-container_pag3 {
    display: flex; /* Cambia a flex para mantener las columnas en una fila */
    gap: 20px; /* Espacio entre las columnas */
    margin-top: 0px;
    font-family: 'Quicksand', sans-serif;
    align-items: stretch; /* Todas las columnas tienen la misma altura */
    justify-content: center; /* Centra las columnas horizontalmente */
    padding-left: 40px; /* Añade padding a la izquierda */
    padding-right: 40px; /* Añade padding a la derecha */
}


.columns-container_pag3 {
    display: flex; /* Cambia a flex para mantener las columnas en una fila */
    gap: 20px; /* Espacio entre las columnas */
    margin-top: 0px;
    font-family: 'Quicksand', sans-serif;
    align-items: stretch; /* Todas las columnas tienen la misma altura */
    justify-content: center; /* Centra las columnas horizontalmente */
    padding-left: 40px; /* Añade padding a la izquierda */
    padding-right: 40px; /* Añade padding a la derecha */
}

.column_pag3 {
    padding: 10px;
    background-color: #5C937B; /* Color de fondo */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 20px; /* Bordes redondeados */
    flex: 1; /* Hace que todas las columnas tengan la misma altura */
    margin-bottom: 10px; /* Espacio entre cada elemento */
    margin-left: 20px; /* Margen a la izquierda */
    margin-right: 20px; /* Margen a la derecha */
}

.column_pag3 h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.column_pag3 p {
    font-size: 30px;
    margin-bottom: 40px; /* Ajusta el margen inferior para el texto */
    flex-grow: 1; /* Permitir que los elementos se expandan */
    flex-shrink: 0; /* Evitar que los elementos se hagan más pequeños */
    flex-basis: 0; /* Permitir que los elementos se expandan */
}

.image-empresas {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px; /* Espaciado entre las imágenes */
}

.side-image {
    max-width: 400px;
    height: auto;
    display: block;
    margin-top: -50px; /* Ajusta este valor para subir la imagen */
}

.message-text {
    font-size: 100px; /* Tamaño de la fuente más grande */
    color: #5C937B;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin: 0;
    line-height: 1; /* Ajusta el espacio entre renglones */
}

.message-text-medium {
    font-size: 40px; /* Tamaño de la fuente igual al de los botones */
    color: #5C937B; /* Mismo color que los botones */
    font-family: 'Quicksand', sans-serif;
    font-weight: 400; /* Puedes ajustar la intensidad de la fuente según lo necesites */
    margin: 0;
}

.message-text-small {
    font-size: 22px; /* Tamaño de la fuente igual al de los botones */
    color: #5C937B; /* Mismo color que los botones */
    font-family: 'Quicksand', sans-serif;
    font-weight: 400; /* Puedes ajustar la intensidad de la fuente según lo necesites */
    margin: 0;
}

.image-container-scribble {
    padding-left: 0; /* Asegúrate de que no haya padding en el contenedor */
    margin-left: 0; /* Asegúrate de que no haya margen en el contenedor */
}
.image-container-scribble {
    margin-top: 40px;
}


/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .message-container {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: center; /* Centra los elementos en el contenedor */
        padding: 20px; /* Agrega algo de padding para pantallas pequeñas */
    }

    .text-container_nosotros {
        padding-left: 0; /* Quita el padding izquierdo en pantallas pequeñas */
        text-align: center; /* Centra el texto */
    }

    .image-group {
        flex-direction: column; /* Asegura que las imágenes estén en una columna */
        padding-right: 0; /* Quita el padding derecho en pantallas pequeñas */
        margin-top: 20px; /* Agrega espacio entre el texto y las imágenes */
    }

    .full-screen-image {
        max-width: 300px; /* Ajusta el tamaño máximo de la imagen en pantallas pequeñas */
        margin-top: 0; /* Ajusta el margen superior */
    }

    .message-text-nosotros {
        font-size: 36px; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
    }

    .message-text-page3 {
        font-size: 36px; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
    }

    .message-button {
        padding: 8px 30px; /* Ajusta el padding del botón en pantallas pequeñas */
        font-size: 18px; /* Ajusta el tamaño de la fuente del botón */
    }
}
