.landing-container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #F2F4EA; 
    border-radius: 8px;
    box-shadow: none; /* Elimina la sombra */
}

.landing-landing {
    text-align: center;
}

.landing-text, .landing-text06 {
    margin: 20px 0;
}

.landing-text {
    font-size: 80px; /* Tamaño del texto */
    color: #5C937B; /* Color del texto */
    font-family: 'Quicksand', sans-serif; /* Estilo de letra Quicksand */
    font-weight: 550; /* Texto en negrita con intensidad reducida */
    line-height: 1.0; /* Ajuste del espacio entre renglones */
}

.landing-text06 {
    font-weight: bold;
}

.landing-text07 {
    font-size: 20px; /* Tamaño del texto */
    color: #5C937B; /* Color del texto */
    font-family: 'Quicksand', sans-serif; /* Estilo de letra Quicksand */
    font-weight: 550; /* Texto en negrita con intensidad reducida */
    line-height: 1.0; /* Ajuste del espacio entre renglones */
}

/* New Blog Section Styles */
.blog-section {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.blog-box {
    flex: 1; /* Hace que los contenedores tengan el mismo ancho */
    padding: 20px;
    background-color: #F2F4EA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin: 0 10px; /* Añade espacio entre los contenedores */
}

.blog-image-container {
    position: relative;
    width: 100%;
    border-radius: 8px; /* Ajusta el radio del borde */
    overflow: hidden; /* Asegura que los elementos hijos no se salgan del contenedor */
}

.blog-image-container img:first-child {
    width: 100%;
    border-radius: 8px;
}

.logo-overlay {
    position: absolute;
    top: 50%; /* Centra el logo verticalmente */
    left: 50%; /* Centra el logo horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición del logo para que quede centrado */
    width: 150px; /* Ajusta el tamaño del logo */
    height: 150px; /* Ajusta el tamaño del logo */
}

.blog-box h2 {
    font-size: 20px;
    color: #5C937B;
    margin: 10px 0;
    font-family: 'Quicksand', sans-serif;
}

.blog-description {
    font-size: 17px;
    color: #5C937B;
    margin: 10px 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600; /* Aumenta el grosor del texto */
}

.btn.btn-primary {
    font-size: 18px; /* Tamaño del texto */
    border-radius: 30px; /* Hace que el botón sea redondo */
    background-color: #5C937B; /* Color de fondo del botón */
    color: white; /* Color de texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 12px 40px; /* Ajusta el espacio interno del botón */
    text-decoration: none; /* Elimina el subrayado del texto */
    display: inline-block; /* Hace que el botón se comporte como un bloque en línea */
    font-weight: 600; /* Ajusta la intensidad de la negrilla */
    font-family: 'Quicksand', sans-serif; /* Estilo de letra Quicksand */
}

.btn.btn-primary:hover {
    background-color: #4A7F66; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}

/* Media Queries para pantallas pequeñas (máx. 768px) */
@media (max-width: 768px) {
    .landing-container {
        padding: 15px;
    }

    .landing-text {
        font-size: 50px; /* Ajusta el tamaño del texto */
    }

    .landing-text07 {
        font-size: 16px; /* Ajusta el tamaño del texto */
    }

    .blog-section {
        flex-direction: column; /* Cambia la dirección del contenedor a columna */
        gap: 20px; /* Añade un espacio entre los elementos */
    }

    .blog-box {
        width: 80%; /* Hace que los cuadros ocupen todo el ancho */
        margin: 10px 0; /* Ajusta el margen entre los cuadros */
        align-items: center;
        margin-left: 20px;
    }

    .blog-image-container img:first-child {
        width: 100%; /* Ajusta el tamaño de la imagen */
    }

    .btn.btn-primary {
        font-size: 12px; /* Ajusta el tamaño del texto en botones */
        padding: 10px 30px; /* Ajusta el relleno del botón */
        margin-left: 250px;
    }

    .landing-text07 {
        width: 80%;
        text-align: center;
        align-items: center;
        margin-left: 40px;
        font-size: 16px; 
    }
}

/* Media Queries para pantallas muy pequeñas (máx. 480px) */
@media (max-width: 480px) {
    .landing-text {
        font-size: 40px; /* Ajusta el tamaño del texto */
    }

    .landing-text07 {
        font-size: 18px; 
    }

    .btn.btn-primary {
        font-size: 12px; /* Ajusta el tamaño del texto en botones */
        padding: 8px 25px; /* Ajusta el relleno del botón */
    }
}